@model Affiliate.Utility.ViewModel.DashboardVM

<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
    <div>
        <h4 class="mb-3 mb-md-0">Personal Information</h4>
    </div>
    <div class="d-flex align-items-center flex-wrap text-nowrap">
        <a class="mb-3 mb-md-0" style="font-size: 1.25rem; margin-top: 0; font-weight: 500; line-height: 1.2; display: block; margin-block-start: 1.33em; margin-block-end: 1.33em; margin-inline-start: 0px; margin-inline-end: 0px;color:black;" href="@Model.referralLink">Referral Code : @Model.rCode  <i style="margin-left:10px" data-feather="copy"></i></a>
       
    </div>
</div>

<div class="row">
    <div class="col-lg-8 col-xl-9 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width:10%">Full Name : </td>
                                <td style="width:40%" class="text-muted">
                                    @if (Model.user != null)
                                    {
                                        @Model.user.LastName @Model.user.FirstName @Model.user.MiddleName
                                    }
                                </td>
                                <td style="width:10%">Bank : </td>
                                <td style="width:40%" class="text-muted">
                                    @if (Model.account !=  null)
                                    {
                                        @Model.account.Bank.Name
                                    }                                    
                                </td>
                                
                            </tr>
                            <tr>
                                <td style="width:10%">Email : </td>
                                <td style="width:40%" class="text-muted">
                                    @if (Model.user != null)
                                    {
                                        @Model.user.Email
                                    }  
                                </td>
                                <td style="width:10%">Account Name :</td>
                                <td style="width:40%" class="text-muted">
                                    @if (Model.account != null)
                                    {
                                        @Model.account.AccountName
                                    }  
                                </td>
                                
                            </tr>
                            <tr>
                                <td style="width:10%">Role : </td>
                                <td style="width:40%" class="text-muted">@Model.Role</td>
                                <td style="width:10%">Account Number : </td>
                                <td style="width:40%" class="text-muted">
                                    @if (Model.account != null)
                                    {
                                        @Model.account.AccountNumber
                                    }  
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-xl-3 grid-margin stretch-card">
        <div class="row">
            <div class="col-md-12 grid-margin">
                <div class="card rounded">
                    <div class="card-body">
                        <h6 class="card-title">Referral Usage</h6>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    @*<tr>
                                        <th>State</th>
                                    </tr>*@
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem =>Model.totalReferralUsage)</td>
                                    </tr>
                                    @*@if (Model != null && Model.StateRecord.Count > 0)
        {
            @foreach (var item in Model.StateRecord)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.State) - @Html.DisplayFor(modelItem => item.Country)</td>
                </tr>
            }}*@
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- row -->

