@model Affiliate.Utility.ViewModel.DashboardVM
<div class="row">
    <div class="col-lg-8 col-xl-9 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width:10%">Full Name : </td>
                                <td style="width:40%" class="text-muted">@Model.user.LastName @Model.user.FirstName @Model.user.MiddleName</td>
                                <td style="width:10%">Bank : </td>
                                <td style="width:40%" class="text-muted">@Model.account.Bank.Name</td>

                            </tr>
                            <tr>
                                <td style="width:10%">Email : </td>
                                <td style="width:40%" class="text-muted">@Model.user.Email</td>
                                <td style="width:10%">Account Name : </td>
                                <td style="width:40%" class="text-muted">@Model.account.AccountName</td>

                            </tr>
                            <tr>
                                <td style="width:10%">Role : </td>
                                <td style="width:40%" class="text-muted">@Model.user.Role.Name</td>
                                <td style="width:10%">Account Number : </td>
                                <td style="width:40%" class="text-muted">@Model.account.AccountNumber</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-xl-3 grid-margin stretch-card">
        <div class="row">
            <div class="col-md-12 grid-margin">
                <div class="card rounded">
                    <div class="card-body">
                        <h6 class="card-title">Work Coverage</h6>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.StateRecord.Count > 0)
                                    {
                                        @foreach (var item in Model.StateRecord)
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(modelItem => item.State) - @Html.DisplayFor(modelItem => item.Country)</td>
                                            </tr>
                                        }}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 grid-margin">
                <div class="card rounded">
                    <div class="card-body">
                        <h6 class="card-title">Selected Programs</h6>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Category</th>
                                        <th>Program</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.Programs.Count > 0)
                                    {
                                        @foreach (var item in Model.Programs)
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(modelItem => item.ProgramCategory)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Program)</td>
                                            </tr>
                                        }}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
